#wrapper{width:80%; overflow:hidden; margin:0 auto}

nav {background-color:#ffffff; border-bottom: 1px solid black; overflow:hidden}

nav a {color:#346509; }

nav a:hover, .nav>li>a:hover, .nav>li>a:focus{color:#457b16; background-color:#ffffff}

#hatch{margin-left:0;}

#audio{margin-top: 10px; display:none;}

#icon{margin-right:1%}

#mainCta{ margin-top: 6%; width:100%;}

#cta img {100%}
.carousel-btn{
    margin-right: -220px;
}

#textArea{width:70%; letter-spacing:1px;  font-size: 0.938em;}

#btmcontent{background-color:#eee; overflow:hidden;  }

aside{float:right; width:30%; margin:0 0}

aside img{width:100%}

#titleDisplay{
    display: block;
    overflow: hidden;
    margin-top: -60px;
}
.page-header h4{ padding-bottom: 9px; margin: 0 0 -2% 0%; border-bottom: 1px solid #eee;} 

#descriptionLink , #descriptionLink a {color: green; margin: -2% 0 -2% 0}

#featureHeader{
    padding-right: 10px;
}

#runTime{
    margin-top: -10px;
}

.panel-heading{text-align:center}

#panel-heading{margin-top: -2%}

#textArea h3{
    color: darkgreen;
    text-shadow: 2px 2px 2px silver;
}

.hornetText, .hornetLink a, .hornetLink a:hover{
    color: green;
    font-size: 180%;
    padding-right: 5px;
    text-decoration: none;
    text-shadow: 2px 2px 2px silver;
}

.mBox{
    display:block;
    padding-bottom: 25px;

}

.inputField{
    width: 30%;
    float: right;
    margin-right: 150px;
    box-shadow: 2px 2px 2px silver;
}

.play, .screen {
    text-align: center;
    margin-top:-14px;
}
footer p {
    text-shadow: 2px 2px 2px silver;
}

#btm-nav {
    list-style-type: none;
    overflow: hidden;
}

#btm-nav li {
    float: left;
    text-align: left;
    padding-left: 10px;
}

#vids{
    display: none;
}

.panel-heading a, .panel-heading a:hover{
    color: black;
    text-decoration: none;
}

#silent, #enoughRope, #programmed{
    display: none;
}
.videoBox{
    width: 100%;
    background-color: black;
    text-align: center;
}

footer{
    overflow: hidden;
}