body{
    max-width: 1440px;
    background-color: darkgreen;
}
#wrapper{
    width: 70%;
    margin: 0 auto;
}

#hatch{
    padding-right: 30px;
}


.carousel-btn{
    margin-right: -220px;
}

.jumbotron{
    overflow: hidden;
}

#mainCta{
    margin-top: 60px;
}

#textArea{
     font-size: 0.938em;
 }

#titleDisplay{
    display: block;
    overflow: hidden;
    margin-top: -60px;
}

#featureHeader{
    padding-right: 10px;
}

#runTime{
    margin-top: -10px;
}

#textArea h3{
    color: darkgreen;
    text-shadow: 2px 2px 2px silver;
}

.hornetText, .hornetLink a, .hornetLink a:hover{
    color: green;

    font-size: 1.500em;
    padding-right: 5px;
    text-decoration: none;
    text-shadow: 2px 2px 2px silver;
}

.mBox{
    display:block;
    padding-bottom: 25px;

}

.inputField{
    width: 30%;
    float: right;
    margin-right: 150px;
    box-shadow: 2px 2px 2px silver;
}

.play, .screen {
    text-align: center;
    margin-top:-14px;
}
footer p {
    text-shadow: 2px 2px 2px silver;
}

#btm-nav {
    list-style-type: none;
    overflow: hidden;
}

#btm-nav li {
    float: left;
    text-align: left;
    padding-left: 10px;
}

#vids{
    display: none;
}

.panel-heading a, .panel-heading a:hover{
    color: black;
    text-decoration: none;
}

#silent, #enoughRope, #programmed{
    display: none;
}
.videoBox{
    width: 100%;
    background-color: black;
    text-align: center;
}

footer{
    overflow: hidden;
}